In [61]:
import pandas as pd
import numpy as py

In [62]:
df=pd.read_csv("C:/Users/Jorge/Downloads/filtered_data.csv")

In [63]:
df.head()

,country_name,country_code,Series_name,Series_code,1990 [YR1990],1991 [YR1991],1992 [YR1992],1993 [YR1993],1994 [YR1994],1995 [YR1995],...,2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023],2024 [YR2024],2025 [YR2025],2026 [YR2026]
0,Afghanistan,AFG,Agricultural land (% of land area),AG.LND.AGRI.ZS,58.32298422,58.30765221,58.30765221,58.16046487,57.97494749,57.8829554,...,58.12366803,58.27698818,58.27698818,58.80747589,..,..,..,..,..,..
1,Afghanistan,AFG,Arable land (% of land area),AG.LND.ARBL.ZS,12.12762369,12.12762369,12.12762369,11.99576836,11.81025099,11.73359091,...,11.80411818,11.94977232,11.94057311,12.00343437,..,..,..,..,..,..
2,Afghanistan,AFG,CO2 emissions by sector (Mt CO2 eq) - Building,CC.CO2.EMSE.BL,0.08,0.07,0.03,0.03,0.02,0.02,...,0.13,0.14,..,..,..,..,..,..,..,..
3,Afghanistan,AFG,CO2 emissions by sector (Mt CO2 eq) - Bunker F...,CC.CO2.EMSE.BF,0.02,0.02,0.02,0.02,0.02,0.02,...,0.04,0.04,..,..,..,..,..,..,..,..
4,Afghanistan,AFG,CO2 emissions by sector (Mt CO2 eq) - Electric...,CC.CO2.EMSE.EH,0.27,0.27,0.16,0.16,0.16,0.16,...,0.21,0.22,..,..,..,..,..,..,..,..

In [64]:
#Rename year columns 
df1=df.rename(columns={'1990 [YR1990]':'YR1990','1991 [YR1991]':'YR1991', '1992 [YR1992]':'YR1992', '1993 [YR1993]':'YR1993', '1994 [YR1994]':'YR1994',
       '1995 [YR1995]':'YR1995', '1996 [YR1996]':'YR1996', '1997 [YR1997]':'YR1997', '1998 [YR1998]': 'YR1998',
       '1999 [YR1999]':'YR1999', '2000 [YR2000]':'YR2000', '2001 [YR2001]':'YR2001', '2002 [YR2002]':'YR2002',
       '2003 [YR2003]':'YR2003', '2004 [YR2004]':'YR2004', '2005 [YR2005]':'YR2005', '2006 [YR2006]':'YR2006',
       '2007 [YR2007]':'YR2007', '2008 [YR2008]':'YR2008', '2009 [YR2009]':'YR2009', '2010 [YR2010]':'YR2010',
       '2011 [YR2011]':'YR2011', '2012 [YR2012]':'YR2012', '2013 [YR2013]':'YR2013', '2014 [YR2014]':'YR2014',
       '2015 [YR2015]':'YR2015', '2016 [YR2016]':'YR2016', '2017 [YR2017]':'YR2017', '2018 [YR2018]':'YR2018',
       '2019 [YR2019]':'YR2019', '2020 [YR2020]':'YR2020', '2021 [YR2021]':'YR2021', '2022 [YR2022]':'YR2022',
       '2023 [YR2023]':'YR2023', '2024 [YR2024]':'YR2024', '2025 [YR2025]':'YR2025', '2026 [YR2026]':'YR2026'})
df1.columns

Index(['country_name', 'country_code', 'Series_name', 'Series_code', 'YR1990',
       'YR1991', 'YR1992', 'YR1993', 'YR1994', 'YR1995', 'YR1996', 'YR1997',
       'YR1998', 'YR1999', 'YR2000', 'YR2001', 'YR2002', 'YR2003', 'YR2004',
       'YR2005', 'YR2006', 'YR2007', 'YR2008', 'YR2009', 'YR2010', 'YR2011',
       'YR2012', 'YR2013', 'YR2014', 'YR2015', 'YR2016', 'YR2017', 'YR2018',
       'YR2019', 'YR2020', 'YR2021', 'YR2022', 'YR2023', 'YR2024', 'YR2025',
       'YR2026'],
      dtype='object')

In [65]:
df1.head()

,country_name,country_code,Series_name,Series_code,YR1990,YR1991,YR1992,YR1993,YR1994,YR1995,...,YR2017,YR2018,YR2019,YR2020,YR2021,YR2022,YR2023,YR2024,YR2025,YR2026
0,Afghanistan,AFG,Agricultural land (% of land area),AG.LND.AGRI.ZS,58.32298422,58.30765221,58.30765221,58.16046487,57.97494749,57.8829554,...,58.12366803,58.27698818,58.27698818,58.80747589,..,..,..,..,..,..
1,Afghanistan,AFG,Arable land (% of land area),AG.LND.ARBL.ZS,12.12762369,12.12762369,12.12762369,11.99576836,11.81025099,11.73359091,...,11.80411818,11.94977232,11.94057311,12.00343437,..,..,..,..,..,..
2,Afghanistan,AFG,CO2 emissions by sector (Mt CO2 eq) - Building,CC.CO2.EMSE.BL,0.08,0.07,0.03,0.03,0.02,0.02,...,0.13,0.14,..,..,..,..,..,..,..,..
3,Afghanistan,AFG,CO2 emissions by sector (Mt CO2 eq) - Bunker F...,CC.CO2.EMSE.BF,0.02,0.02,0.02,0.02,0.02,0.02,...,0.04,0.04,..,..,..,..,..,..,..,..
4,Afghanistan,AFG,CO2 emissions by sector (Mt CO2 eq) - Electric...,CC.CO2.EMSE.EH,0.27,0.27,0.16,0.16,0.16,0.16,...,0.21,0.22,..,..,..,..,..,..,..,..

In [66]:
# Eliminate ..
df2=df1.replace('..','')

In [67]:
#Check in CSV
df2.to_csv('filtered_data2.csv', index=False)